<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell">
      <app-busca (resultado)="receberTermo($event)"></app-busca>
      {{ termo_busca }}
    </div>
  </div>
</div>


