<div class="mdc-form-field">
  <div class="mdc-text-field">
    <input type="text" id="my-text-field" class="mdc-text-field__input" (keyup)="buscar($event)">
    <label class="mdc-floating-label" for="my-text-field">Pesquisar</label>
    <div class="mdc-line-ripple">{{ termo }}</div>
    <button class="mdc-button" (click)="inputBuscar()">
      Buscar
    </button>
  </div>
</div>
